@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,600;1,800&family=Josefin+Sans:wght@400;600&family=Nunito&display=swap');

body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgba(226, 140, 227, 1);
}
#main{
    width: 80%;
    margin-bottom: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}
#heading{
    text-align: center;
    /* border: 1px solid black; */
    font-size: 3rem;
}
#contents{
    display: grid;
    font-size: 5rem;
    box-shadow: 1px 1px 5px #333;
    background-size: 100% 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: ". time time ."
                        " . focus focus ."
                        ". todo todo ."
                        " . qoute qoute ."
}
.container{
    width: 100%;
    height: auto;
}
#timeNow{
    width: 100%;
    grid-area: time;
}
#currentTime{
    font-size: 4rem;
}
#myFocus{
    grid-area: focus;
}
#myFocus p{
    font-size: 1.4rem;
    max-width: 500px;
    display: flex;
    justify-content: space-between
}

#qouteSection{
    width: 100%;
    font-size: 2rem;
    max-width: 500px;
    grid-area: qoute;
}
#qouteSection p{
    display: flex;
    justify-content: center;
}

#toDoList{
    font-size: 1.4rem;
    grid-area: todo;
}
#todoList p{
    display: flex;
    justify-content: center;
}

@media (min-width: 1200px){
    #contents{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        grid-template-areas: ". time time ."
                            "focus focus qoute qoute"
                            ". todo todo .";

    }
    #myFocus p{
        font-size: 2rem;
        display: inline-flex;
    }
    #toDoList ul{
        list-style-type: none;
    }
    
}


/* formhtml section */

#form-header{
    text-align: center;
    color: white;
    font-size: 2rem;
}

#myForms{
    width: 80%;
}

label{
    color: white;
}

button{
    padding: .3rem;
    border-radius: 10px;
    margin-left: .5rem;
    background-color: transparent;
    background-color: rgba(195, 212, 199, .8);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: black;
}