body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#main{
    width: 80%;
}
#heading{
    text-align: center;
    border: 1px solid black;
    font-size: 3rem;
}
#contents{
    font-size: 5rem;
    text-align: center;
    height: 50vh;
    background-image: url(images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}